@using Vanp.Web.Models

@model IEnumerable<ProductModel>

<div id="bestsell-slider" class="product-flexslider hidden-buttons">
    <div class="slider-items slider-width-col4 products-grid block-content">
        @foreach (var p in Model)
        {
            <div class="item">
                <div class="item-inner">
                    <div class="productborder">
                        <div class="item-img">
                            <div class="item-img-info">
                                <a class="product-image" title="p.ProductName" href="../@p.PriceDefault">
                                    <img alt="p.ProductName" src="@p.ProductImagePath" title="@p.ProductName">
                                </a>
                                <div class="new-label new-top-right">new</div>
                                <div class="quickview top-right"> <a class="link-quickview" href="../quick_view.html"> <i class="fa fa-search" aria-hidden="true"></i></a> </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="product lapen casen" href="../product_detail.html">@p.ProductName</a> </div>
                                    <div class="item-content">
                                        <p class="product-manufacturer">Lượt đấu giá: @p.BidCount</p>
                                    </div>
                                    <div class="item-price">
                                        <div class="price-box"> <span class="regular-price"> <span class="price">@p.PriceCurrent.ToString("0,0")</span> </span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

